.transaction_history {
  text-align: center;
  border: 1px solid black;
  background-color: #fff;
  margin-top: 40px;
}

th {
  padding: 10px;
  width: 100px;
  background-color: cyan;
}

.line {
  background-color: blanchedalmond;
}

.line:nth-child(odd) {
  background: #c6c9fc;
}

.line:hover {
  background-color: rgb(103, 179, 241);
}
